.bangers {
    font-family: "Bangers", system-ui;
}

.bebas-neue {
    font-family: "Bebas Neue", sans-serif;
}

#main-container{
    box-shadow: 5px 5px 20px lightgray;
}
.box {
    background-color: lightgray;
    width: 20px;
    height: 20px;
}

.body {
    background-color: #AEB0F2;
}

@keyframes anime {
    from {
        height: 0%;
    }

    to {
        height: 100%;
    }
}

@keyframes anime-rev {
    from {
        height: 100%;
    }

    to {
        height: 0%;
    }
}

.head>div {
    animation: anime .5s linear;
}

.lastHead {
    /* rotate: 270deg; */
    position: relative;
}

.lastHead>div {
    position: absolute;
    width: 100%;
    bottom: 0px;
    animation: anime-rev .5s linear;
}

.deadHead {
    background-color: red;
}

.tail>div {
    background-color: #AEB0F2;
    animation: anime-rev .5s linear;
}
/* 
.score::after, .score::before{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
}

.score::after{
    background-color: red;
} */


@media screen and (max-width: 575px) {
    .box{
        width: 15px;
        height: 15px;
    }
    #field-container{
        padding: 0px 30px;
    }
    .score-container{
        width: auto;
    }
    .score-container > h3{
        font-size: 24px;
        letter-spacing: 2px;
    }
    .score-container > h2{
        font-size: 40px;
        letter-spacing: 2px;
    }
}